@font-face {
    font-family: "PacmanFont";
    src: url("../font/pacmanfont.ttf") format('truetype');
}

body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-family: 'PacmanFont';
    font-size: 2em;
    background-color: black;
    border: 5px solid navy;
}

.cell-G {
    color: black;
}

.cell-X {
    color: wheat;
}

.cell-1, .cell-2, .cell-3, .cell-4, 
.cell-5, .cell-6, .cell-7 {
    color: navy;
}

.cell-O {
    color: gold;
}

.cell-A {
    color: crimson;
}

.cell-S {
    color: mediumvioletred;
}

#btUp, #btLeft, #btRight, #btDown, #btPortal {
    height:5em;
    width:5em;
    font-size: 1.5em;
}

.customeFont {
    font-family: 'PacmanFont';
    font-size: 2.5em;
}